# MAGICAL FILE

# Adding gustavo.fernandes@cloudreach.com as main owner of repository
* gustavo.fernandes@cloudreach.com

# Adding Dylan Martyn as owner of Jenkinsfiles PR's
Jenkinsfile dylan.martyn@cloudreach.com
